_api_keys/
_data_processed/
_data_raw/
_data_extracted_txt/
_dev/
modules/openaiapikey.txt
*.pyc
_data_saved/
_data_dev/
_keys/
Process_pipeline.py
modules/Recettes/tests.txt
.env
env
venv/
data/
.idea/
.env.local
.env_backup
data_dev/
tests/data_test/
qodana.yaml
/.pytest_cache/
/.ruff_cache/
